body {/*
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    font-family: 'Open Sans', sans-serif;
}
.background {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.profile-picture {
    width: 100px;
    height: 100px;
    display: flex;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pet-profile-picture {
    width: 100px;
    height: 100px;
    display: flex;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    transform: scale(0.6);
}

.pet-profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.small-profile-picture {
    width: 100px;
    height: 100px;
    display: flex;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    transform: scale(0.5);
}

.small-profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.username {
    font-size: 30px;
    color: #ffffff;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-shadow: #000000 1px 0 2px;
    width: max-content;
    display: block;
    text-align: center;
}

.user-email {
    font-size: 14px;
    color: #070707;
    margin-top: 5px;
    font-style: italic;
    opacity: 0.8;
}

.header {
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pet-list {
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 15px;
    color: #fff;
    text-shadow: 1px 1px 2px black;
    font-size: 1.1em;
    transition: all 0.3s ease;
}

.pet-list:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(65, 2, 72, 0.8);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
    transform: scale(1.02);
}

.pet-name {
    font-size: 15px;
    color: #ffffff;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-shadow: #000000 1px 0 2px;
    width: max-content;
    display: block;
    text-align: center;
}

/*.post-layout {
    position: relative;
    border-color: rgba(5, 40, 117, 0.8);
    background-color: rgba(0, 0, 0, 0.15);
}

.post-layout:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(65, 2, 72, 0.8);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
    transform: scale(1.0001);
}*/
.post-layout {
    position: relative;
    border-color: rgba(5, 40, 117, 0.8);
    background-color: rgba(0, 0, 0, 0.15);
}

.post-layout:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(65, 2, 72, 0.8);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
    transform: scale(1.0001);
}

.post-image {
    width: 700px;
    height: auto;
    object-fit: cover;
    position: relative;
}
/*.post-image {
    width: 700px;
    height: auto;
    object-fit: cover;
}*/

.post-username {
    font-size: 10px;
    color: #ffffff;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-shadow: #000000 1px 0 2px;
    width: max-content;
    display: block;
    text-align: center;
}

.description {
    font-size: 15px;
    color: #ffffff;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-shadow: #000000 1px 0 2px;
    width: max-content;
    display: block;
    text-align: center;
}

.post-date {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 14px;
    text-shadow: #000000 1px 0 2px;
    color: #ffffff;
}

.post-something-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.post-something-button:hover {
    background-color: #0056b3;
}

.remove-pet-button {
    background-color: #ffffff;
    color: #f60000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
}

.remove-pet-button:hover {
    background-color: #000000;
}

.remove-post-button {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #f60000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
}

.remove-post-button:hover {
    background-color: #000000;
}

.login-container h2 {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive, sans-serif;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.login-form {
    width: 100%;
    max-width: 360px;
    margin-top: 20px;
}



.like-count {
    position: absolute;
    bottom: 40px;
    left: 396px;
    font-size: 14px;
    color: #ffffff;
    text-shadow: #000000 1px 0 2px;
}

.like-button, .comment-button {
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    color: #333;
    background-color: #89efef;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid rgba(65, 2, 72, 0.8);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
    transition: all 0.3s ease;
}

.like-button:hover, .comment-button:hover {
    background-color: #e7e7e7; /* Slightly darker on hover */
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

/* Adjust positions individually if needed */
.like-button {
    left: 392px;
    bottom: -2px;
}

.comment-button {
    left: 490px;
    bottom: -2px;
}

.time {
    font-size: 30px;
    color: #ffffff;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-shadow: #000000 1px 0 2px;
    width: max-content;
    display: block;
    text-align: center;
}

.story-background {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.story-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.story-picture {
    position: relative;
    width: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story-picture img {
    max-width: 100%;
    height: auto;
}

.story-time-label {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
}

.story-description-label {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 1em;
}

.story-profile-picture {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.story-profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-layout {
    align-items: center;
    text-align: center;
}

.username-label {
    position: fixed;
    top: 120px;
    left: 10px;
    color: #ffffff;
}

.center-top {
    position: fixed;
    bottom: 720px;
    left: 700px;
    z-index: 1000;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;]
}

.view-friends-button {
    font-size: 16px;
    color: #333;
    background-color: #89efef;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid rgba(65, 2, 72, 0.8);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
    transition: all 0.3s ease;
}

.edit-profile-picture-button {
    font-size: 16px;
    color: #333;
    background-color: #89efef;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid rgba(65, 2, 72, 0.8);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
    transition: all 0.3s ease;
}

.add-pet-button {
    font-size: 16px;
    color: #333;
    background-color: #89efef;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid rgba(65, 2, 72, 0.8);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
    transition: all 0.3s ease;
}

.add-pet-button:hover, .edit-profile-picture-button:hover, .view-friends-button:hover {
    background-color: #e7e7e7;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.message-right {
    text-align: right;
    position: relative;
    right: 10px;
}

.notifications-view {
    background-color: #f9f9f9;
    padding: 2em;
}

.page-header {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.notification-card {
    border: 1px solid #ddd;
    padding: 1em;
    margin-bottom: 0.5em;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notification-text {
    font-size: 1.1em;
}

.notification-timestamp {
    font-size: 0.8em;
    color: #666;
}

.message-area {
    max-height: 500px;
    overflow-y: auto;
}

.notification-div {
    overflow-y: auto;
}

.top-bar {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
}


.top-bar img {
    max-width: 100%;
    max-height: 100%;

}
.logo-chat{
    width: 45px;
    height: 45px;
}
.logo-not{
    width: 35px;
    height: 35px;
}
.logo-log{
    width: 30px;
    height: 30px;
}
.logo-feed{
    width: 45px;
    height: 45px;
}
.logo-chat:hover,
.logo-not:hover,
.logo-log:hover,
.logo-feed:hover {
    opacity: 0.8;
}


.logo-stories{
    width: 40px;
    height: 40px;
}

.logo-stories:hover {
    opacity: 0.8;
}

.user-profile-image-container {
    border-radius: 50%;
    overflow: hidden;
}
